body {
color: #111;
font-family: georgia;
}
#content {
width: 600px;
margin: auto;
margin-top: 0px;
padding: 20px;
}
.section {
margin-bottom: 50px;
}
#content h1 {
font-size: 150%;
color: #444;
margin-bottom: 20px;
}
#content strong {
color: #444;
}
#content p {
font-size: 16px;
line-height: 24px;
margin-top: 0px;
}
#content a, .details {
color: #990000;
text-decoration: underline;
}
.job .head {
cursor: pointer;
}
.job .head .drop {
display: none;
float: left;
background: url(dropdown_triangle.gif) no-repeat;
width: 10px;
height: 10px;
position: relative;
top: 5px;
padding-right: 5px;
}
.job .head .up {
/* FF Chrome Opera etc */
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
/* IE */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3);
}
.job .body {
padding: 10px;
margin-left: 15px;
width: 440px;
}
.print {
  display: none;
}
